
/*
Made with help from Aigars Silkalns's Flat HTML5/CSS3 Login Form css
*/

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  text-align: center;
  margin-top: 10%;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: #ff5050;
  width: 100%;
  border: 1;
  color: #FFFFFF;
  font-size: 16px;
}

.side-nav {
  display: none;
}



